body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Grandstander', cursive;
}

header {
    top: 0px;
    width: 100%;
    font-size: 1.4em;
    color: rgb(238, 95, 1);
    background-color: white;
}

.Logo {
    height: 4em;
}

#Head {
    display:flex;
    align-items: center;
    padding-right: 3em;    
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

li a {
    color:rgb(238, 95, 1);
    padding: 0.5em 2em 0.5em 2em;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    color: black;
    background-color: rgb(247, 194, 130);
}
a:active {
    background: pink;
}

#contato {
    width: 100%;
    color:  rgb(238, 95, 1);
    background-color: rgb(255, 255, 255);
    border: 1px solid green;
}

#linha {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ícone {
    font-size: 3em;
    padding-right: 1em;
}

.item {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: greenyellow;
}
