body {
    margin: 0px;
    padding: 0px;
    font-family: 'Grandstander', cursive;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 1.4em;
    color: rgb(238, 95, 1);
    background-color: blue;
}

.Logo {
    height: 5em;
}


#Head {
    display:flex;
    align-items: center;
    padding-right: 3em;    
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}


li a {
    color:rgb(238, 95, 1);
    padding: 0.5em 3em 0.5em 3em;
    text-decoration: none;
    font-size: 1em;
}

a:hover {
    color: black;
    background-color: rgb(247, 194, 130);
}
a:active {
    background: pink;
}

.retangulo {
    position: relative;
    top: 9em;
    background-color: red;
    height: 70em;
}

footer {
    position: relative;
    padding: 5em 5em 3em 5em;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 194, 130);
    display: column;
}

