/* HEADER */

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Grandstander', cursive;
}

header {
    position: relative;
    left:0px;
    top: 0px;
    width: 100%;
    font-size: 1.3em;
    color: rgb(238, 95, 1);
    background-color: white;
}

header .Logo {
    height: 5em;
    position: absolute;
    left: 2em;
}


header ul {
    list-style-type: none;
    position: relative;
    left: 6em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}


header .menu1 li a {
    color:rgb(238, 95, 1);
    padding: 0.5em 3em 0.5em 3em;
    text-decoration: none;
    font-size: 1em;
}

header .menu1 a:hover {
    text-decoration: underline;
}

header .dropdown-content {
    display: none;
    position: absolute;
    left: 37%;
    max-width: 15em;
    padding: 1em 0 1em 0;
    z-index: 1;
    background-color: rgba(244, 246, 247,0.95);
    text-align: center;
}

header .dropdown-content a {
    display: block;
}

header .menu1:hover .dropdown-content {
    display: block;
}

.card_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2em 0em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4em;
    width: 80%;
}

.laranja {
    color: rgb(238, 95, 1);
    border: 0.1em solid;
    border-color: rgb(238, 95, 1);
    box-shadow: 0em 0em 1.25em rgba(238, 95, 1, 1);
}

.azul {
    color: rgb(128, 128, 255);
    border: 0.1em solid;
    border-color: rgb(128, 128, 255);
    box-shadow: 0em 0em 1.25em rgba(128, 128, 255, 1);
}

.amarelo {
    color: rgb(179, 155, 14);
    border: 0.1em solid;
    border-color: rgb(179, 155, 14);
    box-shadow: 0em 0em 1.25em rgba(179, 155, 14, 1);
}

.card .midia_texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card h2 {
    font-size: 2.6em;
    padding: 0.7em 0.2em 0em 0;
    margin: 0;
    color: black;
}

.card .midia_texto img {
    border-radius: 0 4em;
    width: 27%;
}

.card .midia_texto p {
    width: 60%;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: black;
}

.card .saiba_mais button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-color: white;
    border: none;
    padding: 0;
}

.card .saiba_mais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5em;
}

.card .saiba_mais:hover p {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.8em;
    transition: 0.5s;
}

.card .saiba_mais:hover i {
    font-size: 5em;
    cursor: pointer;
    transition: 0.5s;
}


.card .saiba_mais p {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.card .saiba_mais i {
    font-size: 4em;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
