/* HEADER */

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(137, 192, 231, 1);
}

div#interface {
    width: 1300px;
    margin: auto;
    background-color: white;
}
/*Parte do header*/
body {
    font-family: 'Grandstander', cursive;
    background-color: rgb(137, 192, 231, 1);
}

div#interface {
    width: 1300px;
    margin: auto;
}

/*Formatação da nav*/
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.menu {
    width: 100%;
    height: 100px;
    background-color:white;
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

/*Formatação do logo*/
.menu h1 {
    color:rgb(238, 95, 1);
    font-size: 2em;
    float: left;
    padding: 0 3em 0 0;
}

#logo-menu {
    width: 100px;
    float: left;
    padding: 0em 1em 0em 6em;
}

/*Fomratação Menu*/

.menu ul {
    float: left;
}

.menu ul li {
    float: left;
    list-style: none;
    position: relative;
}

.menu ul li a {
    display: block;
    color: rgb(238, 95, 1);
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em 2em 0.5em 3em;
    text-decoration: none;
}

.menu ul li a:hover {

    text-decoration: underline;
}

.menu ul li:hover ul {
    display: block;
}

 .menu ul {
     padding: 0 0 0 1em;
 }
 
 /*Aqui começa a interface*/
.card_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 6.8em 0em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4em;
    width: 80%;
}

.laranja {
    color: rgb(238, 95, 1);
    border: 0.1em solid;
    border-color: rgb(238, 95, 1);
    box-shadow: 0em 0em 1.25em rgba(238, 95, 1, 1);
    margin-top: 4em;
}

.azul {
    color: rgb(137, 192, 231);
    border: 0.1em solid;
    border-color: rgb(137, 192, 231);
    box-shadow: 0em 0em 1.25em rgba(137, 192, 231, 1);
}

.amarelo {
    color:rgb(250, 203, 26);
    border: 0.1em solid;
    border-color: rgb(250, 203, 26);
    box-shadow: 0em 0em 1.25em rgba(250, 203, 26, 1);
    margin-bottom: 4em;
}

.card .midia_texto {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card h2 {
    font-size: 2.6em;
    padding: 0.7em 0.2em 0em 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

#laranja {
    color: rgb(238, 95, 1);
}

#amarelo {
    color: rgb(250, 203, 26);
}

#azul {
    color:rgb(137, 192, 231)
}

.card .midia_texto img {
    border-radius: 0 4em;
    width: 30%;
    border: 0.2em solid;

}

.card .midia_texto p {
    width: 60%;
    font-size: 1.2em;
    font-family: 'Anonymous Pro', monospace;
    text-align: justify;
    color: black;
}

.card .saiba_mais button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-color: white;
    border: none;
    padding: 0;
}

.card .saiba_mais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
}

.card .saiba_mais:hover p {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.8em;
    transition: 0.5s;
}

.card .saiba_mais:hover i {
    font-size: 5em;
    cursor: pointer;
    transition: 0.5s;
}


.card .saiba_mais p {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.card .saiba_mais i {
    font-size: 4em;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding-top: 3em;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3em;
}

.galeria img {
    width: 22.5%;
    border: 0.2em solid
}

#galeria_1 {
    display: none;
}

#galeria_2 {
    display: none;
}

#galeria_3 {
    display: none;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    margin-top: 5em;
    background-color: white;
    height: 150px;
}