body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Grandstander', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: relative;
    top: 0px;
    width: 100%;
    font-size: 1.2em;
    color: rgb(238, 95, 1);
    background-color: white;
}

header .Logo {
    height: 5em;
}


header #Head {
    display:flex;
    align-items: center;
    padding-right: 2em;    
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}


header .menu1 li a {
    color:rgb(238, 95, 1);
    padding: 0.5em 3em 0.5em 3em;
    text-decoration: none;
    font-size: 1em;
}

header .menu1 a:hover {
    text-decoration: underline;
}

header .dropdown-content {
    display: none;
    position: absolute;
    left: 37%;
    max-width: 15em;
    padding: 1em 0 1em 0;
    z-index: 1;
    background-color: rgba(244, 246, 247,0.95);
    text-align: center;
}

header .dropdown-content a {
    display: block;
}

header .menu1:hover .dropdown-content {
    display: block;
}

#doações {
    width: 100%;
    display: flex;
    justify-content: center;
    color:  rgb(238, 95, 1);
    background-color: rgb(255, 255, 255);
    margin: 2em;
}

#doações #linha {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0.125em 1em rgba(0, 0, 0, 0.2);
}

#doações i {
    border-radius: 50%;
    font-size: 2.5em;
}

#doações .icon-wrapper {
    margin-right: 2em;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: rgb(238, 95, 1) solid;
    border-radius: 50%;
}

#doações .icon-wrapper:hover {
    transition: 0.3s;
    background-color: rgb(238, 95, 1);
    color: #fff;
}

#doações .item {
    display: flex;
    align-items: center;
    padding: 1em 1.5em 1em 1.5em;
}

#pq-ajudar{
    width: 80%;
    border-radius: 0.8em;
    background-color: rgb(238, 95, 1);
    color: #fff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pq-ajudar #titulo {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 2em 0 2em;
    border-radius: 0.8em;
    font-size: 1.2em;
}

#pq-ajudar #texto {
    width: 80%;
    font-size: 1em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 2em;
    border-radius: 0.8em;
    background-color: rgba(238, 156, 55, 0.8);
}

#caixa-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#caixa-form form {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1em 3em 1em 3em;
    box-shadow: 0px 0.125em 1em rgba(0, 0, 0, 0.2);
}

#caixa-form form input, #caixa-form form textarea {
    min-width: 100%;
    padding: 0.7em;
    margin: 0.5em;
    border-radius: 0.4em;
}

#caixa-form form input::placeholder, #caixa-form form textarea::placeholder {
    font-family: 'Grandstander', cursive;
    color: rgb(238, 95, 1);
    opacity: 1;
}

#caixa-form form input:-ms-input-placeholder, #caixa-form form textarea:-ms-input-placeholder {
    font-family: 'Grandstander', cursive;
    color: rgb(238, 95, 1);
    opacity: 1;
}

#caixa-form form input::-ms-input-placeholder, #caixa-form form textarea::-ms-input-placeholder {
    font-family: 'Grandstander', cursive;
    color: rgb(238, 95, 1);
    opacity: 1;
}


#caixa-form form textarea {
    resize: none;
    min-height: 15em;
}

#caixa-form form button {
    min-width: 20%;
    padding: 0.7em;
    margin: 0.5em;
    border-radius: 1em;
    border: 0.15em solid rgb(238, 95, 1);
    background-color: white;
    color: rgb(238, 95, 1);
    font-family: 'Grandstander', cursive;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
