/*Parte do header*/
body {
    font-family: 'Grandstander', cursive;
}

/*Fomratação da nav*/
.menu {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
}

/*Formatação do logo*/
.menu h1 {
    color: rgb(238, 95, 1);
    font-size: 2em;
    float: left;
    padding: 0 1em 0 0;
}

#logo-menu {
    width: 100px;
    float: left;
    padding: 0em 1em 0em 3em;
}

/*Fomratação Menu*/

.menu ul {
    float: left;
}

.menu ul li {
    float: left;
    list-style: none;
    position: relative;
}

.menu ul li a {
    display: block;
    color: rgb(238, 95, 1);
    font-size: 1.5em;
    padding: 0.5em 2em 0.5em 2em;
    text-decoration: none;
}

.menu ul li a:hover {

    text-decoration: underline;
}

.menu ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px 30px;
    border-radius: 0px 0px 4px 4px;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li {
   width: 180px;
   border-radius: 4px;
}

.menu ul li ul li a {
    font-size: 1.4em;
    padding: 14px 14px;
 }

 .menu ul {
     padding: 0 0 0 1em;
 }
 
/*Aqui começa a parte do body*/  

.tela1{
    background-color: rgb(246, 127, 23) ;
    height: 30%;
    width: 100%;
    padding: 4em 0em 4em 0em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#texto1{
    color: white;
    width: 40%;
    font-size: 1.3em;
    text-indent: 1em;
}
#imagem1{
    width: 40em;
    border-radius: 0.5em;
}

.tela2{
    background-color: rgb(255, 255, 255) ; 
    padding: 4em 0em 6em 0em;
    width: 100%;
}
#texto2{
    color:  rgb(246, 127, 23);
    padding: 0em;
    font-size: 4em;
    text-align: center;
    text-indent: 1em;
}
.video{
    display: flex;
    justify-content: center;
}

.tela3{
    background-color: rgb(137, 192, 231, 0.8);
    height: 30%;
    width: 100%;
    padding: 4em 0em 4em 0em;
}
.tela3parcial{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#texto3{
    padding: 0em 1em 0em 2em;
    color: black;
    width: 50%;
    font-size: 1.3em;
    margin: 0em 4em 0em 2em;
}
#titulotela3{
    margin: 0em 0em 1em 1em;
}
#imagem3{
    width: 90%;
    border-radius: 0.5em;
}
button{
    padding: 1em;
    background-color: rgb(137, 192, 231, 1);
    border-radius: 1em;
    border-color:rgb(137, 192, 231, 1);
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(137, 192, 231, 1);
    border-color:rgb(137, 192, 231, 1);
}
.botao{
    display: flex;
    justify-content: space-evenly;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

